*	{
padding: 0;
margin: 0;
}

ul	{
	height: 50px;
	width: 1115px;
}

li {
	list-style-type: none;
	width: 150px;
	float: right;
	text-align: right;

}

li a {
	text-decoration: none;
	color: #777777;
	line-height: 50px;
	display: block;
}

#wrapper {	
	border: solid;
	background-color: #4aaaa5;
	color: #777777;
	text-align: center;
	margin-left: 100px;
	width: 220px;
	padding: 20px;
	height: 50px;
}


body {
	margin: 0;
	padding: 0;
	background: #cccccc;
	font-size: 18px;
	line-height: 150%;
	font-family: "Georgia",Times New Roman,Times,serif;
	color:#777777;
}

header {
	background: #4aaaa5;
}

div {
	background: #eee;
	margin: 10px;
	min-height: 30px;
	border: 1px dashed #777;
}

#h1 {
	padding: 20px 20px 20px 20px;
	color: #4aaaa5;
	margin: 20px;
	font-size: 30px;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
}

#name{
	font-size: 30px;
	margin-bottom: -20px;
}

hr{
	border: solid;
	color: #cccccc;
}

#hr{
	border: solid;
	color: #4aaaa5;
}


.container {
	width: 100%;
}

#main-bio,
#contact-info,
#bio-image {
	float: left;
}
#main-bio {
	width: 690px;
	padding: 15px;
	background: #ffffff;
	margin-left: 100px;
	margin-top: 50px;	
}
#contact-info {
	width: 270px;
	background: #ffffff;
	float: right;
	margin-right: 100px;
	margin-top: 50px;
	padding: 15px;
}
#bio-image {
	width: 250px;
	height: 250px;
	margin: -12px;
	padding: 20px;
}

#por-image {
	width: 250px;
	height: 192px;
	margin: 20px;
	padding: 20px;
	margin-left: 25px;
	margin-right: 25px;
	position: relative;
}
.text{
margin: 10px;
padding: 10px;
}



#media-image{
	width: 57px;
	height: 44px;
	margin: 12px;
}

#footer{
	padding: 20px 0px 20px 0px;
	width: 100%;
	background: #666666;
	color: #ffffff;
	text-align: center;
}
.clearfix {
	clear: both;
	margin: 0; 
	padding: 0;
} 

#contact input[type="text"], #contact input[type="email"], 
#contact textarea, #contact button[type="submit"] 
{ font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#ffffff;
	padding:25px;
	margin:50px 0;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], 
#contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, 
#contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:20%;
	border:none;
	background:#4aaaa5;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

@media screen and (max-width: 768px) {

    body {
        background-color: #333;
    }

    .wrapper {
        width: 100%;
        padding: 20px 20px 20px 20px;
    }

    section{
        width: 100%;
    }

    #sidebar{
        margin-top: 40px;
    }
}